    * {
        box-sizing: border-box;
    }
    
    *:focus {
        outline: 2px solid #ff7500;
        outline-offset: 4px;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto ', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 170px;
        padding-right: 170px;
        letter-spacing: 0.5;
        line-height: 24px;
    }
    
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 5px solid #FF7500;
    }
    
    .main-header_brand {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .main-header_brand:hover {
        opacity: 0.8;
    }

.main-header_brand:active{
   opacity:0.6;
}
    
    
    
    .main-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .main-nav__item {
        margin-left: 32px;
        list-style: none;
        text-transform: uppercase;
    }
    
    .main-nav__item:first-child {
        margin-left: 0;
    }
    
    .main-nav-item-link {
        text-decoration: none;
        color: #000;
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 1px;
        transition: border 0.2s ease-in-out;
    }
    
    .main-nav-item-link:hover {
        border-bottom: 5px solid #ff7500;
        color: #FF7500;
    }
    
    .main-nav-item-link:active {
        opacity: 0.6;
        border-bottom: 5px solid #ff7500;
    }
    
    .global-link {
        background-color: #ff7500;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 16px;
        border-radius: 5px;
        border: none;
    }
    
    .global-link:hover {
        opacity: 0.8;
    }
    
    .global-link:active {
        opacity: 0.6;
    }
    
    .hero-hr {
        width: 80px;
        height: 5px;
        background-color: #ff7500;
        border: none;
        margin: 0;
    }
    
    .heros-section {
        background-color: #252420;
    }
    
    .hero-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text-section {
        width: 50%;
        color: #fff;
    }
    
    .hero-title {
        margin-top: 40px;
        font-family: 'Robot condensed', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.5;
        padding-right: 136px;
    }
    
    .hero-link {
        margin-top: 32px;
        display: inline-block;
    }
    
    .hero-text {
        padding-right: 203px;
        line-height: 24px;
    }
    
    .img-section {
        width: 50%;
        margin-top: 40px;
        margin-bottom: -62px;
    }
    
    .features_hr {
        width: 80px;
        height: 5px;
        background-color: #ff7500;
        border: none;
        margin: 0;
        margin-top: 210px;
    }
    
    .features_title {
        width: 435px;
        margin-top: 24px;
        font-weight: 700;
        font-size: 72px;
        line-height: 86px;
        letter-spacing: 0.5;
        font-family: 'Roboto condensed', sans-serif;
    }
    
    .features {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 72px;
        padding: 0;
        margin: 0;
    }
    
    .features-item {
        margin-right: 66px;
        list-style: none;
    }
    
    .features-item:last-child {
        margin-right: 0;
    }
    
    .features-item h4 {
        font-family: 'Roboto condensed', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.5px;
        margin: 0;
        margin-top: 32px;
    }
    
    .features-item p {
        line-height: 24px;
        letter-spacing: 0.5px;
        margin-top: 12px;
    }
    
    .feature-img {
        padding: 16px;
        display: flex;
        height: 100px;
        width: 100px;
        background-color: rgba(255, 117, 0, 0.2);
        border-radius: 50%;
        background-size: cover;
    }
    
    .sales-section {
        margin-top: 330px;
    }
    
    .sale-section {
        background-color: #252420;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .text-sale {
/*         margin-left: 64px; */
        color: #fff;
        margin-right: 92px;
    }
    
    .sales-title {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0.5;
    }
    
    .img-sale {
        margin-right: 64px;
        margin-top: -85px;
        margin-bottom: 64px;
        border-radius: 16px;
        display: flex;
    }
    
    .sales-text-2 {
        margin-top: 12px;
    }
    
    span {
        color: #ff7500;
    }
    
    .child {
        margin-top: 24px;
        margin-bottom: 64px;
        display: inline-block;
    }
    
    .footer-content {
        margin-top: 160px;
        background-color: #F8F8F8;
    }
    
    .footer_img {
        padding-top: 56px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.footer_img:hover{
   opaity:0.8;
}

.footer_img:active{
   opaity:0.6;
}
    
    .footer-socials {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .socials-link {
        color: #ff7500;
        margin-left: 16px;
        width: 24px;
        height: 24px;
    }
    
    .footer-links {
        padding-top: 64px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 56px;
    }
    
    .footer-links ul {
        padding: 0;
        margin: 0;
    }
    
    .footer-links li {
        list-style-type: none;
        margin-bottom: 6px;
    }
    
    .footer-links li:last-child {
        list-style-type: none;
        margin-bottom: 0;
    }
    
    .footer-links li>a:hover {
        color: #FF7500;
    }
    
    .footer-links a {
        text-decoration: none;
        color: #000;
        font-family: 'Roboto', sans-serif;
    }
